.edit-profile-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  gap: 20px; /* Espacio entre columnas */
}

.column {
  flex: 1; /* Cada columna tomará el mismo ancho */
  padding: 20px;
  background-color: rgb(255 255 255 / 0.75);
  border: 1px solid #e0e0e0; /* Borde suave */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
}


.profile-description {
  background-color: rgb(255 255 255 / 0.75);
  max-height: 50vh;
  max-width: 25%;
}

.profile-header {
  display: flex;
  align-items: center; /* Centra verticalmente los elementos */
  margin-bottom: 20px; /* Espacio inferior */
}

.profile-picture {
  width: 100px; /* Tamaño de la imagen del perfil */
  height: 100px;
  border-radius: 50%; /* Imagen circular */
  margin-right: 20px; /* Espacio entre la imagen y la información */
  object-fit: cover; /* Ajusta la imagen dentro del contenedor */
}

.profile-info {
  flex: 1; /* La información de perfil ocupa el espacio restante */
}

.user-books {
  background-color: rgb(255 255 255 / 0.75);
  min-height: 75vh;
}
.book-listItem{
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #165b2f;
}
.book-listItem:last-child{
  border-bottom: none;
}
.book-listDetails{
  display: flex;
}
.book-listDetails img{
  margin-right: 30px;
  width: 15rem;
  height: 24rem;
  margin-bottom: 30px;
}
.bookButtons{
  text-align: end;
}
.bookButtons button{
  padding: .5rem;
  border: none !important;
  border-radius: 5px;
  margin-right: 1rem;
}

.user-posts,
.latest-posts {
  background-color: rgb(255 255 255 / 0.75);
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
}

.post {
  margin-bottom: 15px; /* Espacio entre publicaciones */
}

h2 {
  font-size: 1.5em; /* Tamaño de fuente para los encabezados de sección */
  margin-bottom: 10px;
}

h3 {
  font-size: 1.3em; /* Tamaño de fuente para los títulos de las publicaciones */
  margin-bottom: 5px;
}

p {
  font-size: 1em; /* Tamaño de fuente para los párrafos */
  line-height: 1.6; /* Altura de línea para mejor legibilidad */
}
