*{
    box-sizing: border-box;
}
#root{
    width: 80%;
    margin: 0 auto;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: greenyellow;
    padding: 10px 5px;
}
header nav{
    display: flex;
}
