/* paleta de colores:
verde oscuro: 165b2f
verde claro: 3bce73
verde muy claro: 9ee6be
*/
*{
    box-sizing: border-box;
}
h1, h2, h3, h4, p, a, li{
    color:#165b2f ;
    text-decoration: none;
}
body{

}
#root{
}
header{
    display: flex;
    justify-content: space-between;
    background-color: #3bce73;
    padding: 10px 5px;
}
header .logo img{
    width: 5rem;
    margin-left: 15px;
}
header nav{
    display: flex;
}
header nav a{
    margin: auto 0;
    padding: 10px;
    margin-left: 15px;
    color: #165b2f;
    font-size: 18px;
    text-decoration: none;
}
header nav a:hover{
    background-color: #9ee6be;
    border-radius: 20px;
    transition: all 1s ease;
}


/* CSS DEL MAIN*/
.home-page{
    width: 80%;
    margin: 0 auto;
    min-height: 100vh;
    background-color: rgba(218, 226, 209, 0.95);
    padding-bottom: 50px;
}
.home-page h1, h2, h3, h4, h5, p{
    color: black;
}
.home-page .slider-container{
    width: 80%;
    margin: 0 auto;
}
.home-page .slider-container img{
    width: 100%;
    height: 500px;
}

.home-page h1{
    margin: 25px auto;
    text-align: center;
    padding: 25px 0;
    font-size: 20px;
    width: 50%;
    border-bottom: 1px solid green;
}

.home-page .container{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    margin-left: 50px;
}
.home-page .container .book-post{
    display: flex;
    margin-bottom: 50px;
}
.book-post{
    display: flex;
}
.book-post img{
    margin-right: 30px;
}

/*CSS DEL FOOTER*/
footer{
    display: flex;
    flex-direction: column;
    background-color: #3bce73;
    padding: 10px 5px;
}

footer .footer-content{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
}
footer .footer-section{
    width: 33%;
}
footer .footer-section h4{
    margin-bottom: 15px;
}
footer .footer-section ul li{
    display: flex;
}
footer .footer-section ul li p{
    margin: auto 0;
    margin-left: 15px;
}
footer .footer-section ul li a{
    display: flex;
    align-items: center;
}
footer .footer-section ul li a img{
    margin-right: 15px;
}
footer .footer-bottom{
    text-align: center;
}